.cabecalho {
    display: flex;
    align-items: center;      /* Centraliza o conteúdo verticalmente */
    justify-content: center;   /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .cabecalho-imagem {
    width: 50px; /* Define o tamanho da imagem */
    height: 50px;
    margin-right: 20px; /* Espaço entre a imagem e o título */
  }
  
  .cabecalho-titulo {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  