USE [Premolexpert]
GO
ALTER TABLE [dbo].[TBUsuario] DROP CONSTRAINT [FK_TBUsuario_TBPessoa]
GO
ALTER TABLE [dbo].[TBUnidade] DROP CONSTRAINT [FK_TBUnidade_TBEmpresa]
GO
ALTER TABLE [dbo].[TBSessao] DROP CONSTRAINT [FK_TBSessao_TBEmpresa]
GO
ALTER TABLE [dbo].[TBProduto] DROP CONSTRAINT [FK_TBProduto_TBUnidade]
GO
ALTER TABLE [dbo].[TBProduto] DROP CONSTRAINT [FK_TBProduto_TBSessao]
GO
ALTER TABLE [dbo].[TBProduto] DROP CONSTRAINT [FK_TBProduto_TBGrupo]
GO
ALTER TABLE [dbo].[TBProduto] DROP CONSTRAINT [FK_TBProduto_TBEmpresa]
GO
ALTER TABLE [dbo].[TBPessoa] DROP CONSTRAINT [FK_TBPessoa_TBMunicipio]
GO
ALTER TABLE [dbo].[TBPessoa] DROP CONSTRAINT [FK_TBPessoa_TBEmpresa]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFabPro] DROP CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabPro_TBOrcamentoPedidoProdutoFab]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFab] DROP CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabricacao_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] DROP CONSTRAINT [FK_TBPedidoProduto_TBUnidade]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] DROP CONSTRAINT [FK_TBPedidoProduto_TBProduto]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] DROP CONSTRAINT [FK_TBPedidoProduto_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoHistorico] DROP CONSTRAINT [FK_TBOrcamentoPedidoHistorico_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] DROP CONSTRAINT [FK_TBOrcamentoPedido_TBUsuario]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] DROP CONSTRAINT [FK_TBOrcamentoPedido_TBEmpresa]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] DROP CONSTRAINT [FK_TBOrcamentoPedido_TBCliente]
GO
ALTER TABLE [dbo].[TBMunicipio] DROP CONSTRAINT [FK_TBMunicipio_TBEstado]
GO
ALTER TABLE [dbo].[TBGrupo] DROP CONSTRAINT [FK_TBGrupo_TBEmpresa]
GO
ALTER TABLE [dbo].[TBEstado] DROP CONSTRAINT [FK_TBEstado_TBPais]
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel] DROP CONSTRAINT [FK_TBEmpresaResponsavel_TBPessoa]
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel] DROP CONSTRAINT [FK_TBEmpresaResponsavel_TBEmpresa]
GO
ALTER TABLE [dbo].[TBClienteRepresentante] DROP CONSTRAINT [FK_TBClienteRepresentante_TBCliente]
GO
ALTER TABLE [dbo].[TBCliente] DROP CONSTRAINT [FK_TBCliente_TBPessoa]
GO
ALTER TABLE [dbo].[TBPessoa] DROP CONSTRAINT [DF__TBPessoa__PesFis__02084FDA]
GO
ALTER TABLE [dbo].[TBPessoa] DROP CONSTRAINT [DF__TBPessoa__EmpId__02FC7413]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] DROP CONSTRAINT [DF__TBOrcamen__OrcPe__37703C52]
GO
/****** Object:  Table [dbo].[TBUsuario]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBUsuario]') AND type in (N'U'))
DROP TABLE [dbo].[TBUsuario]
GO
/****** Object:  Table [dbo].[TBUnidade]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBUnidade]') AND type in (N'U'))
DROP TABLE [dbo].[TBUnidade]
GO
/****** Object:  Table [dbo].[TBSessao]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBSessao]') AND type in (N'U'))
DROP TABLE [dbo].[TBSessao]
GO
/****** Object:  Table [dbo].[TBProduto]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBProduto]') AND type in (N'U'))
DROP TABLE [dbo].[TBProduto]
GO
/****** Object:  Table [dbo].[TBPessoa]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBPessoa]') AND type in (N'U'))
DROP TABLE [dbo].[TBPessoa]
GO
/****** Object:  Table [dbo].[TBPais]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBPais]') AND type in (N'U'))
DROP TABLE [dbo].[TBPais]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProdutoFabPro]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBOrcamentoPedidoProdutoFabPro]') AND type in (N'U'))
DROP TABLE [dbo].[TBOrcamentoPedidoProdutoFabPro]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProdutoFab]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBOrcamentoPedidoProdutoFab]') AND type in (N'U'))
DROP TABLE [dbo].[TBOrcamentoPedidoProdutoFab]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProduto]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBOrcamentoPedidoProduto]') AND type in (N'U'))
DROP TABLE [dbo].[TBOrcamentoPedidoProduto]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoHistorico]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBOrcamentoPedidoHistorico]') AND type in (N'U'))
DROP TABLE [dbo].[TBOrcamentoPedidoHistorico]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedido]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBOrcamentoPedido]') AND type in (N'U'))
DROP TABLE [dbo].[TBOrcamentoPedido]
GO
/****** Object:  Table [dbo].[TBMunicipio]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBMunicipio]') AND type in (N'U'))
DROP TABLE [dbo].[TBMunicipio]
GO
/****** Object:  Table [dbo].[TBGrupo]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBGrupo]') AND type in (N'U'))
DROP TABLE [dbo].[TBGrupo]
GO
/****** Object:  Table [dbo].[TBEstado]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBEstado]') AND type in (N'U'))
DROP TABLE [dbo].[TBEstado]
GO
/****** Object:  Table [dbo].[TBEmpresaResponsavel]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBEmpresaResponsavel]') AND type in (N'U'))
DROP TABLE [dbo].[TBEmpresaResponsavel]
GO
/****** Object:  Table [dbo].[TBEmpresa]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBEmpresa]') AND type in (N'U'))
DROP TABLE [dbo].[TBEmpresa]
GO
/****** Object:  Table [dbo].[TBClienteRepresentante]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBClienteRepresentante]') AND type in (N'U'))
DROP TABLE [dbo].[TBClienteRepresentante]
GO
/****** Object:  Table [dbo].[TBCliente]    Script Date: 23/01/2025 10:22:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBCliente]') AND type in (N'U'))
DROP TABLE [dbo].[TBCliente]
GO
USE [master]
GO
/****** Object:  Database [Premolexpert]    Script Date: 23/01/2025 10:22:22 ******/
DROP DATABASE [Premolexpert]
GO
/****** Object:  Database [Premolexpert]    Script Date: 23/01/2025 10:22:22 ******/
CREATE DATABASE [Premolexpert]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Premolexpert', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Premolexpert.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Premolexpert_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Premolexpert_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Premolexpert].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Premolexpert]
GO
/****** Object:  Table [dbo].[TBCliente]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCliente](
	[CliId] [int] IDENTITY(1,1) NOT NULL,
	[PesId] [int] NOT NULL,
	[CliObs] [nchar](200) NULL,
	[CliIncPor] [int] NOT NULL,
	[CliIncEm] [date] NOT NULL,
	[CliAltPor] [int] NULL,
	[CliAltEm] [date] NULL,
 CONSTRAINT [PK_TBCliente] PRIMARY KEY CLUSTERED 
(
	[CliId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBClienteRepresentante]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBClienteRepresentante](
	[CliRepId] [int] IDENTITY(1,1) NOT NULL,
	[CliId] [int] NULL,
	[CliRepNom] [varchar](100) NOT NULL,
	[CliRepTelDDD] [numeric](2, 0) NULL,
	[CliRepTel] [numeric](9, 0) NULL,
	[CliRepEmail] [varchar](100) NULL,
	[CliRepIncPor] [int] NOT NULL,
	[CliRepIncEm] [date] NOT NULL,
	[CliRepAltPor] [int] NULL,
	[CliRepAltEm] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBEmpresa]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBEmpresa](
	[EmpId] [int] NOT NULL,
	[EmpNom] [varchar](150) NULL,
	[EmpIncPor] [int] NOT NULL,
	[EmpIncEm] [date] NOT NULL,
	[EmpAltPor] [int] NULL,
	[EmpAltEm] [date] NULL,
 CONSTRAINT [PK_TBEmpresa] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBEmpresaResponsavel]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBEmpresaResponsavel](
	[EmpResId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[PesId] [int] NOT NULL,
	[EmpResIncPor] [int] NOT NULL,
	[EmpResIncEm] [date] NOT NULL,
	[EmpResAltPor] [int] NULL,
	[EmpResAltEm] [date] NULL,
 CONSTRAINT [PK_TBEmpresaResponsavel] PRIMARY KEY CLUSTERED 
(
	[EmpResId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBEstado]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBEstado](
	[EstId] [int] IDENTITY(1,1) NOT NULL,
	[EstNom] [varchar](100) NOT NULL,
	[EstIncPor] [int] NOT NULL,
	[EstIncEm] [date] NOT NULL,
	[EstAltPor] [int] NULL,
	[EstAltEm] [date] NULL,
	[PaisId] [int] NOT NULL,
	[EstSigla] [varchar](2) NULL,
 CONSTRAINT [PK_TBEstado] PRIMARY KEY CLUSTERED 
(
	[EstId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBGrupo]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBGrupo](
	[GruId] [int] IDENTITY(1,1) NOT NULL,
	[GruDsc] [varchar](100) NULL,
	[GruIncPor] [int] NOT NULL,
	[GruIncEm] [date] NOT NULL,
	[GruAltPor] [int] NULL,
	[GruAltEm] [date] NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_TBGrupo] PRIMARY KEY CLUSTERED 
(
	[GruId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBMunicipio]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBMunicipio](
	[MunId] [int] IDENTITY(1,1) NOT NULL,
	[MunNom] [varchar](100) NOT NULL,
	[MunIncPor] [int] NOT NULL,
	[MunIncEm] [date] NOT NULL,
	[MunAltPor] [int] NULL,
	[MunAltEm] [date] NULL,
	[EstId] [int] NOT NULL,
 CONSTRAINT [PK_TBMunicipio] PRIMARY KEY CLUSTERED 
(
	[MunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedido]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrcamentoPedido](
	[OrcPedId] [int] IDENTITY(1,1) NOT NULL,
	[OrcPedNumPro] [nvarchar](20) NOT NULL,
	[CliId] [int] NOT NULL,
	[OrcPedNomObr] [nvarchar](255) NULL,
	[OrcPedDatSol] [date] NOT NULL,
	[OrcPedDtaPrevEnt] [date] NULL,
	[OrcPedDimTam] [nvarchar](100) NULL,
	[UsuId] [int] NOT NULL,
	[OrcPedSta] [numeric](1, 0) NOT NULL,
	[OrcPedValOrc] [decimal](18, 2) NULL,
	[OrcPedDatEntPro] [date] NULL,
	[OrcPedQtdDiaResEnt] [int] NULL,
	[OrcPedValPed] [decimal](18, 2) NULL,
	[OrcPedSalNeg] [decimal](18, 2) NULL,
	[OrcPedPesOrc] [decimal](18, 2) NULL,
	[OrcPedPesExe] [decimal](18, 2) NULL,
	[OrcPedSalPes] [decimal](18, 2) NULL,
	[OrcPedIncPor] [int] NOT NULL,
	[OrcPedIncEm] [datetime] NOT NULL,
	[OrcPedAltPor] [int] NULL,
	[OrcPedAltEm] [datetime] NULL,
	[EmpId] [int] NOT NULL,
	[OrcPedPaiOrcPedId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrcPedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoHistorico]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrcamentoPedidoHistorico](
	[OrcPedHistId] [int] IDENTITY(1,1) NOT NULL,
	[OrcPedId] [int] NOT NULL,
	[OrcPedProdSta] [int] NOT NULL,
	[OrcPedProdIncPor] [int] NOT NULL,
	[OrcPedProdIncEm] [datetime] NOT NULL,
 CONSTRAINT [PK_TBOrcamentoPedidoHistorico_E9FC63D4385AEB79] PRIMARY KEY CLUSTERED 
(
	[OrcPedHistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProduto]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrcamentoPedidoProduto](
	[OrcPedProdId] [int] IDENTITY(1,1) NOT NULL,
	[OrcPedId] [int] NOT NULL,
	[ProdId] [int] NOT NULL,
	[UniId] [int] NOT NULL,
	[OrcPedProdQtd] [int] NOT NULL,
	[OrcPedProdVlrUnit] [decimal](18, 2) NOT NULL,
	[OrcPedProdPron] [int] NOT NULL,
	[OrcPedProdAFaze] [int] NOT NULL,
	[OrcPedProdSta] [int] NOT NULL,
	[OrcPedProdIncPor] [int] NOT NULL,
	[OrcPedProdIncEm] [datetime] NOT NULL,
	[OrcPedProdAltPor] [int] NULL,
	[OrcPedProdAltEm] [datetime] NULL,
 CONSTRAINT [PK__TBPedidoProduto__E9FC63D4385AEB79] PRIMARY KEY CLUSTERED 
(
	[OrcPedProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProdutoFab]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrcamentoPedidoProdutoFab](
	[OrcPedProdFabId] [int] IDENTITY(1,1) NOT NULL,
	[OrcPedProdId] [int] NOT NULL,
	[OrcPedProdFabSta] [int] NOT NULL,
	[OrcPedProdFabDtaAco] [datetime] NOT NULL,
	[OrcPedProdFabDtaCon] [datetime] NOT NULL,
	[OrcPedProdFabDtaLib] [datetime] NOT NULL,
	[OrcPedProdFabDtaTra] [datetime] NOT NULL,
	[OrcPedProdFabDtaMon] [datetime] NOT NULL,
	[OrcPedProdFabIncPor] [int] NOT NULL,
	[OrcPedProdFabIncEm] [datetime] NOT NULL,
	[OrcPedProdFabAltPor] [int] NULL,
	[OrcPedProdFabAltEm] [datetime] NULL,
 CONSTRAINT [PK__TBOrcamentoPedidoProdutoFabricacao__E9FC63D4385AEB79] PRIMARY KEY CLUSTERED 
(
	[OrcPedProdFabId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBOrcamentoPedidoProdutoFabPro]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrcamentoPedidoProdutoFabPro](
	[OrcPedProdFaProbId] [int] IDENTITY(1,1) NOT NULL,
	[OrcPedProdFabId] [int] NOT NULL,
	[OrcPedProdFabProDta] [int] NOT NULL,
	[OrcPedProdFabProIncPor] [int] NOT NULL,
	[OrcPedProdFabProIncEm] [datetime] NOT NULL,
	[OrcPedProdFabProAltPor] [int] NULL,
	[OrcPedProdFabProAltEm] [datetime] NULL,
 CONSTRAINT [PK__TBOrcamentoPedidoProdutoFabPro__E9FC63D4385AEB79] PRIMARY KEY CLUSTERED 
(
	[OrcPedProdFaProbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBPais]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPais](
	[PaisId] [int] IDENTITY(1,1) NOT NULL,
	[PaisNom] [varchar](100) NOT NULL,
	[PaisIncPor] [int] NOT NULL,
	[PaisIncEm] [date] NOT NULL,
	[PaisAltPor] [int] NULL,
	[PaisAltEm] [date] NULL,
	[PaisSigla] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBPessoa]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPessoa](
	[PesId] [int] IDENTITY(1,1) NOT NULL,
	[PesNom] [varchar](100) NOT NULL,
	[PesCpf] [numeric](11, 0) NULL,
	[PesCnpj] [numeric](14, 0) NULL,
	[PesEmail] [varchar](100) NULL,
	[PesTelPesDDD] [numeric](2, 0) NULL,
	[PesTelPes] [numeric](9, 0) NULL,
	[PesTelComDDD] [numeric](2, 0) NULL,
	[PesTelCom] [numeric](9, 0) NULL,
	[PesCelPesDDD] [numeric](2, 0) NULL,
	[PesCelPes] [numeric](9, 0) NULL,
	[PesCelComDDD] [numeric](2, 0) NULL,
	[PesCelComPes] [numeric](9, 0) NULL,
	[PesEnd] [varchar](200) NULL,
	[MunId] [int] NULL,
	[EmpId] [int] NOT NULL,
	[PesFisJur] [numeric](1, 0) NOT NULL,
	[PesIncPor] [int] NOT NULL,
	[PesIncEm] [date] NOT NULL,
	[PesAltPor] [int] NULL,
	[PesAltEm] [date] NULL,
 CONSTRAINT [PK_TBPessoa] PRIMARY KEY CLUSTERED 
(
	[PesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBProduto]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBProduto](
	[ProdId] [int] IDENTITY(1,1) NOT NULL,
	[ProdDsc] [varchar](100) NOT NULL,
	[UniId] [int] NOT NULL,
	[GruId] [int] NOT NULL,
	[SesId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[ProdIncPor] [int] NOT NULL,
	[ProdIncEm] [date] NOT NULL,
	[ProdAltPor] [int] NULL,
	[ProdAltEm] [date] NULL,
 CONSTRAINT [PK_TBProduto] PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSessao]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSessao](
	[SesId] [int] IDENTITY(1,1) NOT NULL,
	[SesDsc] [varchar](100) NULL,
	[EmpId] [int] NOT NULL,
	[SesIncPor] [int] NOT NULL,
	[SesIncEm] [date] NOT NULL,
	[SesAltPor] [int] NULL,
	[SesAltEm] [date] NULL,
 CONSTRAINT [PK_TBSessao] PRIMARY KEY CLUSTERED 
(
	[SesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBUnidade]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUnidade](
	[UniId] [int] IDENTITY(1,1) NOT NULL,
	[UniDsc] [varchar](100) NULL,
	[UniIncPor] [int] NOT NULL,
	[UniIncEm] [date] NOT NULL,
	[UniAltPor] [int] NULL,
	[UniAltEm] [date] NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_TBUnidade] PRIMARY KEY CLUSTERED 
(
	[UniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBUsuario]    Script Date: 23/01/2025 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUsuario](
	[UsuId] [int] IDENTITY(1,1) NOT NULL,
	[UsuLogin] [varchar](100) NOT NULL,
	[UsuSenha] [varchar](50) NULL,
	[UsuPerCod] [numeric](1, 0) NOT NULL,
	[PesId] [int] NOT NULL,
	[UsuIncPor] [int] NOT NULL,
	[UsuIncEm] [date] NOT NULL,
	[UsuAltPor] [int] NULL,
	[UsuAltEm] [date] NULL,
 CONSTRAINT [PK_TBUsuario] PRIMARY KEY CLUSTERED 
(
	[UsuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] ADD  DEFAULT (getdate()) FOR [OrcPedIncEm]
GO
ALTER TABLE [dbo].[TBPessoa] ADD  DEFAULT ((0)) FOR [EmpId]
GO
ALTER TABLE [dbo].[TBPessoa] ADD  DEFAULT ((0)) FOR [PesFisJur]
GO
ALTER TABLE [dbo].[TBCliente]  WITH CHECK ADD  CONSTRAINT [FK_TBCliente_TBPessoa] FOREIGN KEY([PesId])
REFERENCES [dbo].[TBPessoa] ([PesId])
GO
ALTER TABLE [dbo].[TBCliente] CHECK CONSTRAINT [FK_TBCliente_TBPessoa]
GO
ALTER TABLE [dbo].[TBClienteRepresentante]  WITH CHECK ADD  CONSTRAINT [FK_TBClienteRepresentante_TBCliente] FOREIGN KEY([CliId])
REFERENCES [dbo].[TBCliente] ([CliId])
GO
ALTER TABLE [dbo].[TBClienteRepresentante] CHECK CONSTRAINT [FK_TBClienteRepresentante_TBCliente]
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel]  WITH CHECK ADD  CONSTRAINT [FK_TBEmpresaResponsavel_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel] CHECK CONSTRAINT [FK_TBEmpresaResponsavel_TBEmpresa]
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel]  WITH CHECK ADD  CONSTRAINT [FK_TBEmpresaResponsavel_TBPessoa] FOREIGN KEY([PesId])
REFERENCES [dbo].[TBPessoa] ([PesId])
GO
ALTER TABLE [dbo].[TBEmpresaResponsavel] CHECK CONSTRAINT [FK_TBEmpresaResponsavel_TBPessoa]
GO
ALTER TABLE [dbo].[TBEstado]  WITH CHECK ADD  CONSTRAINT [FK_TBEstado_TBPais] FOREIGN KEY([PaisId])
REFERENCES [dbo].[TBPais] ([PaisId])
GO
ALTER TABLE [dbo].[TBEstado] CHECK CONSTRAINT [FK_TBEstado_TBPais]
GO
ALTER TABLE [dbo].[TBGrupo]  WITH CHECK ADD  CONSTRAINT [FK_TBGrupo_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
GO
ALTER TABLE [dbo].[TBGrupo] CHECK CONSTRAINT [FK_TBGrupo_TBEmpresa]
GO
ALTER TABLE [dbo].[TBMunicipio]  WITH CHECK ADD  CONSTRAINT [FK_TBMunicipio_TBEstado] FOREIGN KEY([EstId])
REFERENCES [dbo].[TBEstado] ([EstId])
GO
ALTER TABLE [dbo].[TBMunicipio] CHECK CONSTRAINT [FK_TBMunicipio_TBEstado]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedido_TBCliente] FOREIGN KEY([CliId])
REFERENCES [dbo].[TBCliente] ([CliId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] CHECK CONSTRAINT [FK_TBOrcamentoPedido_TBCliente]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedido_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] CHECK CONSTRAINT [FK_TBOrcamentoPedido_TBEmpresa]
GO
ALTER TABLE [dbo].[TBOrcamentoPedido]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedido_TBUsuario] FOREIGN KEY([UsuId])
REFERENCES [dbo].[TBUsuario] ([UsuId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedido] CHECK CONSTRAINT [FK_TBOrcamentoPedido_TBUsuario]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedidoHistorico_TBOrcamentoPedido] FOREIGN KEY([OrcPedId])
REFERENCES [dbo].[TBOrcamentoPedido] ([OrcPedId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoHistorico] CHECK CONSTRAINT [FK_TBOrcamentoPedidoHistorico_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBPedidoProduto_TBOrcamentoPedido] FOREIGN KEY([OrcPedId])
REFERENCES [dbo].[TBOrcamentoPedido] ([OrcPedId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] CHECK CONSTRAINT [FK_TBPedidoProduto_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBPedidoProduto_TBProduto] FOREIGN KEY([ProdId])
REFERENCES [dbo].[TBProduto] ([ProdId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] CHECK CONSTRAINT [FK_TBPedidoProduto_TBProduto]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBPedidoProduto_TBUnidade] FOREIGN KEY([UniId])
REFERENCES [dbo].[TBUnidade] ([UniId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProduto] CHECK CONSTRAINT [FK_TBPedidoProduto_TBUnidade]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFab]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabricacao_TBOrcamentoPedido] FOREIGN KEY([OrcPedProdId])
REFERENCES [dbo].[TBOrcamentoPedidoProduto] ([OrcPedProdId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFab] CHECK CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabricacao_TBOrcamentoPedido]
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFabPro]  WITH CHECK ADD  CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabPro_TBOrcamentoPedidoProdutoFab] FOREIGN KEY([OrcPedProdFabId])
REFERENCES [dbo].[TBOrcamentoPedidoProdutoFab] ([OrcPedProdFabId])
GO
ALTER TABLE [dbo].[TBOrcamentoPedidoProdutoFabPro] CHECK CONSTRAINT [FK_TBOrcamentoPedidoProdutoFabPro_TBOrcamentoPedidoProdutoFab]
GO
ALTER TABLE [dbo].[TBPessoa]  WITH CHECK ADD  CONSTRAINT [FK_TBPessoa_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
GO
ALTER TABLE [dbo].[TBPessoa] CHECK CONSTRAINT [FK_TBPessoa_TBEmpresa]
GO
ALTER TABLE [dbo].[TBPessoa]  WITH CHECK ADD  CONSTRAINT [FK_TBPessoa_TBMunicipio] FOREIGN KEY([MunId])
REFERENCES [dbo].[TBMunicipio] ([MunId])
GO
ALTER TABLE [dbo].[TBPessoa] CHECK CONSTRAINT [FK_TBPessoa_TBMunicipio]
GO
ALTER TABLE [dbo].[TBProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBProduto_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBProduto] CHECK CONSTRAINT [FK_TBProduto_TBEmpresa]
GO
ALTER TABLE [dbo].[TBProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBProduto_TBGrupo] FOREIGN KEY([GruId])
REFERENCES [dbo].[TBGrupo] ([GruId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBProduto] CHECK CONSTRAINT [FK_TBProduto_TBGrupo]
GO
ALTER TABLE [dbo].[TBProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBProduto_TBSessao] FOREIGN KEY([SesId])
REFERENCES [dbo].[TBSessao] ([SesId])
GO
ALTER TABLE [dbo].[TBProduto] CHECK CONSTRAINT [FK_TBProduto_TBSessao]
GO
ALTER TABLE [dbo].[TBProduto]  WITH CHECK ADD  CONSTRAINT [FK_TBProduto_TBUnidade] FOREIGN KEY([UniId])
REFERENCES [dbo].[TBUnidade] ([UniId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBProduto] CHECK CONSTRAINT [FK_TBProduto_TBUnidade]
GO
ALTER TABLE [dbo].[TBSessao]  WITH CHECK ADD  CONSTRAINT [FK_TBSessao_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBSessao] CHECK CONSTRAINT [FK_TBSessao_TBEmpresa]
GO
ALTER TABLE [dbo].[TBUnidade]  WITH CHECK ADD  CONSTRAINT [FK_TBUnidade_TBEmpresa] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TBEmpresa] ([EmpId])
GO
ALTER TABLE [dbo].[TBUnidade] CHECK CONSTRAINT [FK_TBUnidade_TBEmpresa]
GO
ALTER TABLE [dbo].[TBUsuario]  WITH CHECK ADD  CONSTRAINT [FK_TBUsuario_TBPessoa] FOREIGN KEY([PesId])
REFERENCES [dbo].[TBPessoa] ([PesId])
GO
ALTER TABLE [dbo].[TBUsuario] CHECK CONSTRAINT [FK_TBUsuario_TBPessoa]
GO
USE [master]
GO
