



.botao-padrao {
    background-color: white; /* Fundo branco */
    color:#193282; 
    border: 2px solid #193282;  /* Borda azul */
    padding: 10px 20px; /* Ajuste do padding para uma boa aparência */
    border-radius: 8px; /* Borda arredondada */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Animação suave na troca de cores */
    width:100px;
  }
  
  .botao-padrao:hover {
    background-color: #193282; /* Fundo azul quando passa o mouse */
    color: white; /* Texto branco quando passa o mouse */
  }
  